<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friedns</key>
		<array>
			<dict>
				<key>icon</key>
				<string>ceshi.jpg</string>
				<key>name</key>
				<string>张三</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>ceshi.jpg</string>
				<key>name</key>
				<string>ssk</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>ceshi.jpg</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>ceshi.jpg</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>ceshi.jpg</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>ceshi.jpg</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>ceshi.jpg</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>ceshi.jpg</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>ceshi.jpg</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>ceshi.jpg</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>ceshi.jpg</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friedns</key>
		<array>
			<dict>
				<key>icon</key>
				<string>ceshi.jpg</string>
				<key>name</key>
				<string>sskdjf</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>ceshi.jpg</string>
				<key>name</key>
				<string>iiii</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>ceshi.jpg</string>
				<key>name</key>
				<string>qqqq</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>我的tongxue</string>
		<key>online</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friedns</key>
		<array>
			<dict>
				<key>icon</key>
				<string>ceshi.jpg</string>
				<key>name</key>
				<string>张三</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>ceshi.jpg</string>
				<key>name</key>
				<string>张三</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>ceshi.jpg</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>我的qq</string>
		<key>online</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friedns</key>
		<array>
			<dict>
				<key>icon</key>
				<string>ceshi.jpg</string>
				<key>name</key>
				<string>张三</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>ceshi.jpg</string>
				<key>name</key>
				<string>张三</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>ceshi.jpg</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>ceshi.jpg</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>ceshi.jpg</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>ceshi.jpg</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>ceshi.jpg</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>我的xx</string>
		<key>online</key>
		<string>3</string>
	</dict>
</array>
</plist>
